.intro__subtitle {
    max-width: 690px;
    margin: 0 0 33px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
}

@media screen and (max-width:568px) {
    .intro__subtitle {
        margin: 0 0 34px;
    }
}