.place__website {
    max-width: 456px;
    min-height: 46px;
    align-self: end;
}

@media screen and (max-width:568px) {
    .place__website {
        max-width: 288px;
        margin: 0 16px 0;
    }
}