.intro__title {
    max-width: 690px;
    margin: 0 0 33px;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
}

@media screen and (max-width:568px) {
    .intro__title {
        font-size: 35px;
        line-height: 32px;
    }
}